<div class="uk-section uk-section-muted uk-padding-small">
	<div class="uk-flex uk-flex-center">
		<a href="https://www.linkedin.com/in/keertikbacon/" class="uk-margin-left uk-margin-right" uk-icon="icon: linkedin; ratio: 2"></a>
		<a href="mailto:keertikbacon@yahoo.com" class="uk-margin-left uk-margin-right" uk-icon="icon: mail; ratio: 2"></a>
		<a href="https://github.com/keertikbacon" class="uk-margin-left uk-margin-right" uk-icon="icon: github; ratio: 2"></a>
	</div>
	<p class="uk-flex uk-flex-center uk-margin-medium-top">&copy;2022 Keertik Bacon</p>
</div>