<nav class="uk-navbar-container uk-navbar uk-light">
	<div class="uk-navbar-left uk-margin-left">
		<a id="logo" class="uk-navbar-item uk-logo" href="./index.html">K</a>
	</div>
	<div class="uk-navbar-right uk-margin-right">
		<ul class="uk-navbar-nav">
			<li><a id="about" href="./about.html">About</a></li>
			<li><a id="projects" href="./projects/index.html">Projects</a></li>
			<li><a id="resume" href="./resume.html">Resume</a></li>
		</ul>
	</div>
</nav>
<script>
	var url = window.location.pathname;
	const urlSections = url.split("/");
	
	var dirPrefix = document.getElementById("style").getAttribute("href");
	dirPrefix = dirPrefix.substring(0,dirPrefix.lastIndexOf("/"));
	
	setNewDir("logo",dirPrefix);
	setNewDir("about",dirPrefix);
	setNewDir("projects",dirPrefix);
	setNewDir("resume",dirPrefix);
	
	
	function setNewDir(id,newPrefix){
		let linkElement = document.getElementById(id);
		oldDir = linkElement.getAttribute("href");
		oldDir = oldDir.substring(2);
		linkElement.setAttribute("href", newPrefix+oldDir);
	}
	
</script>