<nav class="uk-navbar-container uk-navbar uk-light">
	<div class="uk-navbar-left uk-margin-left">
		<a id="logo" class="uk-navbar-item uk-logo" href="./index.html">K</a>
	</div>
	<div class="uk-navbar-right uk-margin-right">
		<ul class="uk-navbar-nav">
			<li><a id="about" href="./about.html">About</a></li>
			<li><a id="projects" href="./projects/index.html">Projects</a></li>
			<li><a id="resume" href="./resume.html">Resume</a></li>
		</ul>
	</div>
</nav>
<script>
	//making sure that the navbar links lead to the right places
	var dirPrefix = document.getElementById("style").getAttribute("href");
	const slashInd = [];
	for (let index = 0; index < dirPrefix.length; index++) {
		if (dirPrefix[index] == '/') {
			slashInd.push(index);
		}
	}
	dirPrefix = dirPrefix.substring(0,slashInd[slashInd.length - 2]+1);
	
	setNewDir("logo",dirPrefix);
	setNewDir("about",dirPrefix);
	setNewDir("projects",dirPrefix);
	setNewDir("resume",dirPrefix);
	
	
	function setNewDir(id,newPrefix){
		let linkElement = document.getElementById(id);
		oldDir = linkElement.getAttribute("href");
		oldDir = oldDir.substring(2);
		linkElement.setAttribute("href",newPrefix+oldDir);
	}
	
	//making the active page light up on the navbar
	var url = window.location.pathname;
	const urlSections = url.split("/");
	if(urlSections[1].indexOf("about") != -1){
		setActive("about");
	}else if(urlSections[1].indexOf("projects") != -1){
		setActive("projects");
	}else if(urlSections[1].indexOf("resume") != -1){
		setActive("resume");
	}		
		
	function setActive(id){
		document.getElementById(id).setAttribute("class","uk-active");
	}
	
</script>